
<div class="coordinator-div">
    <p class="coordinator" id="xml-coord-label">XML Coordinator</p>
    <input class="coordinator" matInput placeholder="XML coordinator URL"  [(ngModel)]="coordinator">
</div>
<div class="variables-div">
  <fieldset>
    <div>
        
        <input matInput placeholder="Variable name"  [(ngModel)]="var_name">
        <input matInput placeholder="Variable defaulult value"  [(ngModel)]="var_value">
        <br>
        <br>
        <br>
        <button mat-raised-button (click)="add_variable()" color="primary">Add variable</button>
    </div>
    <br>
    <table class="vars-table" mat-table [dataSource]="var_datasource" class="mat-elevation-z8">
    
        <ng-container matColumnDef="var_name" >
          <th mat-header-cell *matHeaderCellDef style="width: 40%; text-align: center;"> Variable name </th>
          <td mat-cell *matCellDef="let element" style="width: 40%; text-align: center"> {{element.var_name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="var_value">
          <th mat-header-cell *matHeaderCellDef style="width: 40%; text-align: center"> Value </th>
          <td mat-cell *matCellDef="let element" style="width: 40%; text-align: center"> {{element.var_value}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="var_displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: var_displayedColumns;" (click)="delete_variable(row)"></tr>
      </table>
    </fieldset>
</div>
<div class="ontology-div" >
  <fieldset>
    <div class="ont-input-div">
      <div>
        <p class="ont_input_url">Ontology URL</p><input  matInput class="ont_input_url"   [(ngModel)]="ont">
      </div>
      <br>
      <div>
        <p class="ont_input_rec">Recursive</p>
        <mat-select  matNativeControl required class="ont_input_rec" [(value)]="selected" >
          <mat-option value="true">True</mat-option>
          <mat-option value="false">False</mat-option>
        </mat-select>

        

      </div>
      <br>
      <div>
        <button mat-raised-button (click)="add_ontology()" color="primary">Add Ontology</button>
      </div>

        
    </div>
    <table class="ont-table" mat-table [dataSource]="ont_datasource" class="mat-elevation-z8">
        <ng-container matColumnDef="ontology_url">
          <th mat-header-cell *matHeaderCellDef style="width: 40%;"> Ontology name </th>
          <td mat-cell *matCellDef="let element"> {{element.ont_url}}  </td>
        </ng-container>
      
        <ng-container matColumnDef="recursive">
          <th mat-header-cell *matHeaderCellDef> Recursive </th>
          <td mat-cell *matCellDef="let element"> {{element.recursive}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="ont_displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: ont_displayedColumns;" (click)="delete_ontology(row)"></tr>
        
      </table>
    
    </fieldset>
</div>  

<div>
  <button mat-raised-button (click)="post_data()" color="primary">Enviar</button>
</div>